h1{
    text-align: center;
}
.one{
    height: 100px;
    width: 100px;
    background-color: teal;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    animation-name: hello;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
@keyframes hello {
    100%{
        transform: skew(15deg)
    }
}
.ok{
    text-align: center;
}
.noo{
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    animation-name: hai;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
@keyframes hai {
    100%{
        transform: skew(20deg,20deg)
    }
}
.not{
    text-align: center;
}
.vam{
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    animation-name: everyone;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}
@keyframes everyone {
    100%{
        transform: rotate(360deg)
    }
}
.ok{
    text-align: center;
}
.four{
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    animation-name: last;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
@keyframes last {
  100%{
      transform: scaleY(.5);
  }
}
.five{
    animation-name: only;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
@keyframes only {
    100%{
        transform: scaleX(0.5);
    }
}

.six{
    animation-name: final;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
@keyframes final {
    100%{
        transform: rotate(-90deg);
    }
}
.nine{
    text-align: center;
    margin-left: 500px;
    font-weight: bold;
}
body{
    background-color: yellow;
}